/* NAVIGATION*/

ul {
  list-style-type: none;
  width: 100%;
  background-color: #363636;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  overflow: hidden;
}

li {
  display: inline;
  float: center;
}

li a {
  display: inline-block;
  color: #F6F6F6;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 12%;
}

li a:hover {
  background-color: #A090B4;
}

/* HOME */

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.banner_background {
  padding-top: 50px;
  align-items: center;
  background-color: #F0E7F1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.banner_text {
  color: #363636;
  font-size: 20px;
  font-weight: 300;
  line-height: 42px;
  max-width: 600px;
  padding-top: 20px;
  text-align: center;
}

.banner_hashtag {
  color: #A090B4;
  font-size: 30px;
  font-weight: 800;
  padding-top: 40px;
  text-transform: uppercase;
}

/* SOCIALS */

#socialicons {
    text-align: center;
}

#socialicons .icon {
    color: #A090B4;
    display: inline-block;
    font-size: 65px;
    text-align: center;
    margin: 0 6px 5px;
}

#socialicons .icon:hover {
    color: #363636;
}

/* ABOUT */

.about_background {
  align-items: center;
  background-color: #A68B88;
  color: #F7F7F7;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.about_title {
  font-family: "Playfair Display", sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: 1em;
  max-width: 800px;
  text-align: center;
}

.about_text {
  flex: 1;
  font-size: 20px;
  font-weight: 300;
  max-width: 800px;
  margin-top: 40px;
  text-align: justify;
  line-height: 32px;
}

.about_footnote {
  font-size: 15px;
  font-style: italic;
  margin-top: 20px;
  line-height: 30px;
}

/* MISSION */

.mission_background {
  align-items: center;
  background-color: #D9BCDA;
  color: #F7F7F7;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.mission_title {
  font-family: "Playfair Display", sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: 1em;
  max-width: 800px;
  text-align: center;
}

.mission_text {
  flex: 1;
  font-size: 20px;
  font-weight: 300;
  max-width: 800px;
  margin-top: 40px;
  text-align: justify;
  line-height: 32px;
}

/* REGISTRATION */

.registration_background {
  align-items: center;
  background-color: #5A4550;
  color: #F7F7F7;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.registration_title {
  font-family: "Playfair Display", sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: 1em;
  max-width: 800px;
  text-align: center;
}

a.button {
  appearance: none;
  background: #F4E5E8;
  border-radius: 0px;
  border: solid 0px #F4E5E8;
  box-shadow: none;
  color: #363636;
  display: inline-block;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -1.07;
  line-height: 1.8;
  margin-top: 40px;
  padding: 45px 100px;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.4s;
}

a.button:hover {
  background: #5A4550;
  color: #F7F7F7;
}

/* SCHEDULE */

.schedule_background {
  align-items: center;
  background-color: #A090B4;
  color: #F7F7F7;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.schedule_title {
  font-family: "Playfair Display", sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: 1em;
  max-width: 800px;
  text-align: center;
}

.schedule_text {
  flex: 1;
  font-size: 24px;
  font-weight: 300;
  max-width: 800px;
  margin-top: 40px;
  text-align: justify;
  line-height: 32px;
}

/* SCHEDULE - TABLE */

td {
  height: 40px;
  padding: 10px;
  text-align: left;
}

.table_title {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.table_time {
  font-weight: 700;
  text-align: right;
}

/* SPEAKERS */

.speakers_background {
  align-items: center;
  background-color: #F4E5E8;
  color: #363636;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.speakers_title {
  font-family: "Playfair Display", sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: 1em;
  max-width: 800px;
  text-align: center;
}

.speakers_text {
  flex: 1;
  font-size: 20px;
  font-weight: 300;
  max-width: 800px;
  margin-top: 40px;
  text-align: justify;
  line-height: 32px;
}

.img_circle {
    border-radius: 50%;
}

/* SPONSORS */

.sponsors_background {
  align-items: center;
  background-color: #F0E7F1;
  color: #363636;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.sponsors_title {
  font-family: "Playfair Display", sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: 1em;
  max-width: 800px;
  text-align: center;
}

.sponsors_text {
  flex: 1;
  font-size: 20px;
  font-weight: 300;
  max-width: 800px;
  margin-top: 40px;
  text-align: justify;
  line-height: 32px;
}

/* FOR MOBILE */

@media screen and (max-width : 480px)  {
  .banner_background {
  height: 700px;
  padding-top: 0px;
  }

  ul {
  width: 100%;
  position: relative;
  }

  li {
  display: block;
  }

  li a {
  width: 100%;
  }

  .about_background {
    padding-top: 60px;
  }

  .mission_background {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .registration_background {
    padding-top: 60px;
  }

  .schedule_background {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .speakers_background {
    padding-top: 60px;
  }

  .sponsors_background {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about_title {
    font-size: 3em;
  }

  .mission_title {
    font-size: 3em;
  }

  .registration_title {
    font-size: 3em;
  }

  .schedule_title {
    font-size: 3em;
  }

  .speakers_title {
    font-size: 4em;
  }  

  .sponsors_title {
    font-size: 3em;
  }

  .about_text {
    font-size: 18px;
  }
  
  .mission_text {
    font-size: 18px;
  }
  
  .registration_text {
    font-size: 18px;
  }
  
  a.button {
    font-size: 3em;
    padding: 25px 60px;
  }
  
  .schedule_text {
    font-size: 18px;
  }
  
  .speakers_text {
    font-size: 18px;
  }
  
  .sponsors_text {
    font-size: 18px;
  }
}
