/* NAVIGATION*/

ul {
  list-style-type: none;
  width: 100%;
  background-color: #363636;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  overflow: hidden;
}

li {
  display: inline;
  float: center;
}

li a {
  display: inline-block;
  color: #F6F6F6;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 12%;
}

li a:hover {
  background-color: #F0E7F1;
}

/* HOME */

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.banner_background {
  padding-top: 50px;
  align-items: center;
  background-color: #D9BCDA;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.banner_text {
  color: #F6F6F6;
  font-size: 36px;
  font-weight: 300;
  line-height: 42px;
  max-width: 600px;
  padding-top: 20px;
  text-align: center;
}

.banner_hashtag {
}

/* SOCIALS */

#socialicons {
    text-align: center;
}

#socialicons .icon {
    color: #F6F6F6;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    margin: 0 6px 5px;
}

#socialicons .icon:hover {
    color: #363636;
}

/* MISSION */

/* ABOUT */

/* REGISTRATION */

/* SCHEDULE */

/* SPEAKERS */

/* SPONSORS */
