/* NAVIGATION*/

ul {
  list-style-type: none;
  width: 100%;
  background-color: #363636;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  overflow: hidden;
}

li {
  display: inline;
  float: center;
}

li a {
  display: inline-block;
  color: #F6F6F6;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 12%;
}

li a:hover {
  background-color: #A090B4;
}

/* HOME */

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.banner_background {
  padding-top: 50px;
  align-items: center;
  background-color: #F0E7F1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.banner_text {
  color: #363636;
  font-size: 20px;
  font-weight: 300;
  line-height: 42px;
  max-width: 600px;
  padding-top: 20px;
  text-align: center;
}

.banner_hashtag {
  color: #A090B4;
  font-size: 30px;
  font-weight: 800;
  padding-top: 40px;
  text-transform: uppercase;
}

/* SOCIALS */

#socialicons {
    text-align: center;
}

#socialicons .icon {
    color: #A090B4;
    display: inline-block;
    font-size: 65px;
    text-align: center;
    margin: 0 6px 5px;
}

#socialicons .icon:hover {
    color: #363636;
}

/* MISSION */

.mission_background {
  align-items: center;
  background-color: #A68B88;
  color: #F7F7F7;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.mission_title {
  font-family: "Playfair Display", sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: 1em;
  max-width: 800px;
  text-align: center;
}

.mission_text {
  flex: 1;
  font-size: 20px;
  font-weight: 300;
  max-width: 800px;
  margin-top: 40px;
  text-align: justify;
  line-height: 32px;
}

/* ABOUT */

.about_background {
  align-items: center;
  background-color: #D9BCDA;
  color: #F7F7F7;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.about_title {
  font-family: "Playfair Display", sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: 1em;
  max-width: 800px;
  text-align: center;
}

.about_text {
  flex: 1;
  font-size: 20px;
  font-weight: 300;
  max-width: 800px;
  margin-top: 40px;
  text-align: justify;
  line-height: 32px;
}

.about_footnote {
  font-size: 15px;
  font-style: italic;
  margin-top: 20px;
  line-height: 30px;
}

/* REGISTRATION */

/* SCHEDULE */

/* SPEAKERS */

/* SPONSORS */
